#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    margin-top: 10%;
    width: 60%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 20px;
  }
  
  /* Slider.css */
  .img-normal {
    transform: scale(0.7); /* Normal size */
    transition: transform 0.3s ease;
    background-color: black;
  }
  
  .img-centered {
    transform: scale(1); /* Centered and bigger size */
    transition: transform 0.3s ease;
  }
  
  